<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>分类</title>
  <link rel="stylesheet" href="../style/cate.css">
</head>

<body>
  @@include('./common/headNav.html');

  <!-- login部分 -->
  <div id="home-head" class="home-head">
    <div class="home-logo w">
      <h1>
        <a href="../index.html" class="home-logo">淘宝</a>
      </h1>
      <div class="home-search">
        <span class="active">宝贝</span><span>天猫</span><span>店铺</span>
        <div class="search-wrap">
          <input type="text" class="home-search-ipt" placeholder="请输入搜索文字">
          <ul class="common">
          </ul>
          <i class="iconfont icon-xiangji"></i>
          <button class="btn">搜索</button>
        </div>
      </div>
      <div class="home-ewm">
        <div class="ewm">
          <h3>去领红包</h3>
          <img src="../img/home/head-ewm.png" alt="">
        </div>
        <div class="iconfont icon-cha"></div>
      </div>
    </div>
  </div>
  <!-- 分类 -->
  <div class="tab w">
    <span>app下载</span>
    <span>特色市场</span>
    <span class="active-tab">主题市场</span>
  </div>
  <!-- 推荐 -->
  <div class="recom w">
    <h5>热门推荐</h5>
    <div class="recom-list">
      <ul class="list1">
        <li>
          <a href="./profile2.html?id=1" target="blank">洗衣液</a>
          <a href="./profile2.html?id=1" target="blank">洗衣液</a>
          <a href="./profile2.html?id=1" target="blank">洗衣液</a>
          <a href="./profile2.html?id=1" target="blank">洗衣液</a>
        </li>
        <i></i>
        <li>
          <a href="./profile2.html?id=1" target="blank">洗衣液</a>
          <a href="./profile2.html?id=1" target="blank">洗衣液</a>
          <a href="./profile2.html?id=1" target="blank">洗衣液</a>
          <a href="./profile2.html?id=1" target="blank">洗衣液</a>
        </li>
        <i></i>
        <li>
          <a href="./profile2.html?id=1" target="blank">洗衣液</a>
          <a href="./profile2.html?id=1" target="blank">洗衣液</a>
          <a href="./profile2.html?id=1" target="blank">洗衣液</a>
          <a href="./profile2.html?id=1" target="blank">洗衣液</a>
        </li>
        <i></i>
        <li>
          <a href="./profile2.html?id=1" target="blank">洗衣液</a>
          <a href="./profile2.html?id=1" target="blank">洗衣液</a>
          <a href="./profile2.html?id=1" target="blank">洗衣液</a>
          <a href="./profile2.html?id=1" target="blank">洗衣液</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- 分类 -->
  <div class="cate w">
    <div class="cate1">
      <h5>女装男装</h5>
      <ul class="cate-list data1">
        <li>
          <h4>潮流女装</h4>
          <div class="cate-as">
            <a href="./profile2.html?id=4" target="blank">外套</a>
            <a href="./profile2.html?id=4" target="blank">外套</a>
            <a href="./profile2.html?id=4" target="blank">外套</a>
            <a href="./profile2.html?id=4" target="blank">外套</a>
            <a href="./profile2.html?id=4" target="blank">外套</a>
            <a href="./profile2.html?id=4" target="blank">外套</a>
            <a href="./profile2.html?id=4" target="blank">外套</a>
            <a href="./profile2.html?id=4" target="blank">外套</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="cate1 cate2">
      <h5>鞋类箱包</h5>
      <ul class="cate-list data2">
        <li>
          <h4>双肩包</h4>
          <div class="cate-as">
            <a href="./profile2.html?id=2" target="blank">书包</a>
            <a href="./profile2.html?id=2" target="blank">书包</a>
            <a href="./profile2.html?id=2" target="blank">书包</a>
            <a href="./profile2.html?id=2" target="blank">书包</a>
            <a href="./profile2.html?id=2" target="blank">书包</a>
            <a href="./profile2.html?id=2" target="blank">书包</a>
            <a href="./profile2.html?id=2" target="blank">书包</a>
            <a href="./profile2.html?id=2" target="blank">书包</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="cate1">
      <h5>家居家纺</h5>
      <ul class="cate-list data3">
        <li>
          <h4>居家布艺</h4>
          <div class="cate-as">
            <a href="./profile2.html?id=5" target="blank">窗帘</a>
            <a href="./profile2.html?id=5" target="blank">窗帘</a>
            <a href="./profile2.html?id=5" target="blank">窗帘</a>
            <a href="./profile2.html?id=5" target="blank">窗帘</a>
            <a href="./profile2.html?id=5" target="blank">窗帘</a>
            <a href="./profile2.html?id=5" target="blank">窗帘</a>
            <a href="./profile2.html?id=5" target="blank">窗帘</a>
            <a href="./profile2.html?id=5" target="blank">窗帘</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="cate1 cate2">
      <h5>家电办公</h5>
      <ul class="cate-list data4">
        <li>
          <h4>影音电器</h4>
          <div class="cate-as">
            <a href="./profile2.html?id=0" target="blank">无线耳机</a>
            <a href="./profile2.html?id=0" target="blank">无线耳机</a>
            <a href="./profile2.html?id=0" target="blank">无线耳机</a>
            <a href="./profile2.html?id=0" target="blank">无线耳机</a>
            <a href="./profile2.html?id=0" target="blank">无线耳机</a>
            <a href="./profile2.html?id=0" target="blank">无线耳机</a>
            <a href="./profile2.html?id=0" target="blank">无线耳机</a>
            <a href="./profile2.html?id=0" target="blank">无线耳机</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="cate1 cate2">
      <h5>生活服务</h5>
      <ul class="cate-list data5">
        <li>
          <h4>商务服务</h4>
          <div class="cate-as">
            <a href="./profile2.html?id=3" target="blank">zara</a>
            <a href="./profile2.html?id=3" target="blank">zara</a>
            <a href="./profile2.html?id=3" target="blank">zara</a>
            <a href="./profile2.html?id=3" target="blank">zara</a>
            <a href="./profile2.html?id=3" target="blank">zara</a>
            <a href="./profile2.html?id=3" target="blank">zara</a>
            <a href="./profile2.html?id=3" target="blank">zara</a>
            <a href="./profile2.html?id=3" target="blank">zara</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
  @@include('./common/footNav.html');

  <script src="../js/cate.js" type="module"></script>
</body>

</html>