<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>有好货</title>
  <link rel="stylesheet" href="../style/profile.css">
</head>

<body>
  @@include('./common/headNav.html');
  <div class="profile-head">
    <h1 class="w">
      <img src="../img/profile/profile-head.png" alt="">
    </h1>
  </div>
  <div class="profile-info w">
  </div>
  <div class="profile-like">
    <h2 class="w"><span>你可能还喜欢</span></h2>
    <div class="profile-like-cont w">
    </div>
  </div>
  @@include("./common/footNav.html");
  <script src="../js/profile.js" type="module"></script>
</body>

</html>