@import "./base.scss";
@import "./headNav.scss";
@import "./footNav.scss";
.dw {
  width: 1140px;
  margin: 0 auto;
}
.detail-head {
  margin-top: -15px;
  height: 70px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-self: center;
  h1 {
    img {
      width: 96px;
      height: 38px;
    }
    select {
      height: 20px;
      margin-left: 15px;
      color: #666;
      width: 72px;
      font-size: 12px;
      cursor: pointer;
    }
  }
  .detail-search {
    height: 30px;
    input {
      float: left;
      width: 285px;
      height: 30px;
      line-height: 30px;
      border: 2px solid #ff4400;
      padding: 3px;
    }
    a {
      float: left;
      width: 72px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background-color: #f40;
      color: #fff;
      cursor: pointer;
    }
    span {
      float: left;
      cursor: pointer;
      margin-left: 3px;
      width: 72px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #ff4400;
      background-color: #ffe4d0;
      border: 1px solid #ffb086;
    }
  }
}
// 主体
.detail-main {
  .main-head {
    .imgs {
      height: 120px;
      width: 100%;
      position: relative;
    }
    min-width: 1600px;
    margin-left: -(1600px - 1140) / 2;
    height: 150px;
    background-image: url(../img/detail/head0.jfif);
    background-repeat: no-repeat;
    background-position: center;
    .head-list {
      width: 950px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      height: 30px;
      line-height: 30px;
      li.all-baby:hover {
        .all-cate {
          display: block;
        }
        .baby {
          display: block;
        }
      }
      > li {
        position: relative;
        .baby {
          display: none;
          position: absolute;
          left: 208px;
          top: 30px;
          width: 208px;
          border-right: 1px solid #f4f4f4;

          a {
            display: block;
            background-color: #fff;
            color: #8a8a8a;
            font-size: 12px;
            border-bottom: 1px solid #f4f4f4;
            &:hover {
              background-color: #e2e0e0;
              color: #ff4400;
            }
          }
        }
        a {
          display: block;
          padding: 0 20px;
          font-size: 14px;
          color: #fff;
          background-color: #5b412b;
          span {
            font-size: 14px;
            margin: 8px 0 0 10px;
            color: #c5c1c1;
          }
          &:hover {
            background-color: #6d4c35;
            span {
              color: #a3a3a3;
              &::before {
                display: inline-block;
                transform: rotate(180deg);
              }
            }
          }
        }
        &:first-child > a {
          width: 208px;
          background-color: #6d4c35;
        }

        .all-cate {
          display: none;
          position: absolute;
          z-index: 999;
          left: 0px;
          top: 30px;
          width: 208px;
          border: 1px solid #f4f4f4;
          > a {
            display: block;
            background-color: #fff;
            color: #8a8a8a;
            font-size: 12px;
            border-bottom: 1px solid #f4f4f4;
            &:hover {
              color: #ff4400;
              background-color: #e2e0e0;
            }
          }
        }
      }
    }
  }
}
// 放大镜部分
.lg-wrap {
  margin-top: 10px;
  border: 1px solid #f4f4f4;
  height: 738px;
  display: flex;
  .lg-imgs {
    margin-left: 20px;
    padding-top: 20px;
    width: 420px;
    .imgs {
      width: 400px;
      height: 400px;
      position: relative;
      cursor: move;
      &:hover .show-lg-img {
        display: block;
      }
      .show-lg-img {
        display: none;
        width: 400px;
        height: 400px;
        position: absolute;
        top: 0px;
        right: -410px;
        border: 1px solid #ccc;
        overflow: hidden;
        background-color: #fff;
        background-image: url("../img/detail/主图-01.jpg");
        // background-image: url("../img/detail/主图-4\ \(5\).jpg");
        background-repeat: no-repeat;
        background-position: 0px 0px;
        background-size: 800px 800px;
      }
      &:hover {
        .icon-sousuo {
          display: none;
        }
      }
      > img {
        width: 400px;
        height: 400px;
      }
      .icon-sousuo {
        position: absolute;
        right: 10px;
        bottom: 10px;
        font-style: 18px;
        color: #ccc;
      }
    }
    .lg-list {
      display: flex;
      align-items: center;
      li {
        overflow: hidden;
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        margin-right: 9px;
        cursor: pointer;
        &:hover {
          border-color: red;
        }
        img {
          width: 46px;
          height: 46px;
        }
        &.lg-list-active {
          border-color: red;
        }
      }
    }
    .collect {
      display: inline-block;
      height: 22px;
      line-height: 22px;
      margin-top: 20px;
      &:hover .ico {
        transform: translateY(-5px);
      }
      .ico {
        transition: all 0.5s;
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        margin: -4px 3px 0 0;
        background: url(../img/detail/sp.png) no-repeat -120px 0;
      }
    }
  }
  .lg-infos {
    width: 520px;
    height: 100%;
    padding: 0 20px 20px 0;
    .title {
      width: 460px;
      padding: 20px 0 10px 0;
      height: 76px;
      font-size: 16px;
      color: #3c3c3c;
    }
    .samll {
      padding-bottom: 5px;
      height: 23px;
      color: #3c3c3c;
    }
    .price-wrap {
      overflow: hidden;
      padding: 10px;
      background-color: #fff2e8;
      height: 170px;
      color: #6c6c6c;
      li {
        margin-bottom: 5px;
        height: 33px;
      }
      li:nth-child(1) {
        strong {
          margin-left: 45px;
          width: 285px;
          font-size: 14px;
          color: #3c3c3c;
          i:nth-child(2) {
            text-decoration: line-through;
          }
        }
        .total-info {
          float: right;
          p {
            float: left;
            padding: 0 9px;
            width: 67px;
            color: #6c6c6c;
            &:first-child {
              border-right: 1px solid rgb(230, 224, 224);
            }
            span {
              text-align: center;
              color: #6c6c6c;
              font-size: 18px;
              display: block;
            }
          }
        }
      }
      li:nth-child(2) {
        margin-top: 3px;
        display: flex;
        span {
          margin-left: 25px;
          font-size: 26px;
          color: #ff4400;
          margin-top: -10px;
        }
        i {
          width: 57px;
          height: 18px;
          line-height: 18px;
          text-align: center;
          color: #fff;
          padding: 0 4px;
          margin-left: 5px;
          background-color: #ff8e1b;
        }
      }
      li:nth-child(3) {
        display: flex;
        span {
          width: 60px;
        }
        .right {
          p {
            line-height: 25px;
            img {
              margin: 0 5px 0;
            }
            a {
              color: #ff4400;
              margin-left: 5px;
              border-bottom: 1px dashed #ff4400;
            }
          }
        }
      }
    }
    .delivery {
      padding: 9px 0 0 10px;
      color: #6c6c6c;
      span {
        display: inline-block;
        width: 55px;
      }
      p {
        line-height: 24px;
        border-bottom: 1px solid #ccc;
        strong,
        i,
        em {
          color: #3c3c3c;
        }
      }
      .size {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
        margin-top: 9px;
        a {
          display: inline-block;
          border: 2px solid #f4f4f4;

          padding: 2px 5px;
          height: 28px;
          margin-bottom: 5px;
          // line-height: 28px;
          text-align: center;
          margin-right: 5px;
          color: #3c3c3c;
          cursor: pointer;
          &:hover {
            border: 2px solid #ff4400;
            color: #ff4400;
          }
          &.active {
            border: 2px solid #ff4400;
            color: #ff4400;
          }
        }
      }
      .color {
        display: flex;
        margin-bottom: 30px;
        span {
          width: 55px;
        }
        ul {
          display: flex;
          flex-wrap: wrap;

          li {
            padding: 1px 5px;
            border: 1px solid #dcdcdc;
            height: 36px;
            line-height: 34px;
            color: #3c3c3c;
            cursor: pointer;
            margin-right: 5px;
            margin-bottom: 5px;
            &:hover {
              border-color: #ff4400;
            }
            &.color-active {
              color: #ff4400;
              border-color: #ff4400;
            }
          }
        }
      }
      .num {
        display: flex;
        margin: 15px 0;
        button {
          width: 27px;
          height: 27px;
          line-height: 27px;
          text-align: center;
          background-color: #ededed;
          color: #3c3c3c;
          cursor: pointer;
          float: left;
          border: 1px solid #ccc;
        }
        input {
          float: left;
          width: 50px;
          height: 27px;
          line-height: 26px;
          background-color: #fff;
          text-align: center;
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
        }
      }
      .huabei {
        display: flex;
        margin: 20px 0;
        ul {
          display: flex;
          li {
            padding: 4px 8px;
            margin: 0 5px 10px 0;
            color: #333;
            background-color: #fff;
            width: 92px;
            text-align: center;
            height: 48px;
            border: 1px solid #c3c3c3;
            cursor: pointer;
            &:hover {
              border: 1px solid #f40;
            }
          }
        }
      }
      .join {
        display: flex;
        margin: 30px 0;
        a {
          width: 136px;
          height: 40px;
          border-radius: 2px;
          color: #e5511d;
          border: 1px solid #f0cab6;
          background: #ffe4d0;
          font-size: 16px;
          text-align: center;
          line-height: 38px;
          cursor: pointer;
          &:first-child:hover {
            background-color: #fcd4b6;
          }
          &:last-child {
            width: 182px;
            margin-left: 10px;
            background-color: #f40;
            color: #fff;
            .icon-gouwuche {
              margin-right: 5px;
            }
          }
        }
      }
      .play {
        margin-top: 30px;
        img:nth-child(n + 3) {
          margin-left: 15px;
          padding-right: 10px;
        }
      }
    }
  }
  .lg-store {
    flex: 1;
    height: 100%;
    border-left: 1px solid #f4f4f4;
    .imgs1 {
      width: 100%;
      height: 60px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
      .dask {
        position: absolute;
        right: 10px;
        top: -10px;
        img {
          width: 48px;
          height: 63px;
        }
      }
    }
    .old-store {
      height: 30px;
      line-height: 30px;
      margin-bottom: 14px;
      text-align: center;
      background-color: #fffbee;
      border-bottom: 1px solid #f5e8bc;

      i {
        img {
          width: 16px;
          height: 16px;
          margin-top: -3px;
          vertical-align: middle;
        }
      }
      em {
        font-size: 14px;
        padding: 0 4px;
        color: #ff4400;
      }
      span {
        color: #e26204;
        font-size: 14px;
      }
    }
    .store-about {
      padding: 0 10px 17px 20px;
      li {
        margin-bottom: 5px;
        height: 22px;
        line-height: 22px;
        color: #666;
      }
      li:nth-child(1) {
        color: #3c3c3c;
      }
      li:nth-child(2) {
        img {
          margin: 0 2px;
        }
      }
      li:nth-child(4) {
        i {
          display: inline-block;
          width: 67px;
          height: 20px;
          background: url(../img/detail/store-link.gif) no-repeat 0px 0px/ 134px;
        }
      }
      li:nth-child(5) {
        display: flex;
        align-items: flex-start;
        border-bottom: 1px solid #f4f4f4;
        padding-bottom: 20px;
        height: 40px;
        i {
          width: 16px;
          height: 16px;
          margin: 4px 5px 0 0;
          background: url(../img/detail/sp.png) no-repeat 0 -20px;
        }
        span {
          width: 16px;
          height: 16px;
          padding-left: 16px;
          margin-top: 4px;
          background: url(../img/detail/sp.png) no-repeat -280px -80px;
        }
      }
    }
    .store-desc {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 16px;
      padding-bottom: 13px;
      height: 44px;
      text-align: center;
      border-bottom: 1px solid #f0cab6;

      li {
        color: #666;

        span {
          display: block;
          color: #f40;
          padding-right: 12px;
          background: url(../img/detail/sp.png) no-repeat right 4px;
        }
      }
    }
    .store-look-again {
      padding: 17px 12px 0 15px;
      h5 {
        height: 27px;
        color: #535353;
      }
      .again {
        display: flex;
        a {
          width: 82px;
          text-align: center;
          border: 1px solid transparent;
          &:hover {
            border-color: #f40;
          }
          span {
            color: #ff4805;
            line-height: 21px;
          }
          img {
            width: 80px;
            height: 80px;
          }
        }
      }
    }
  }
}
